.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.example-spacer {
  flex: 1 1 auto;
}

.search-document {
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 200px;
  padding: 10px;
  outline: none;
}

/* Estilos para las cards */

.cards {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.example-card {
  width: 300px;
  margin: 10px;
  background-color: #e3f2fd;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
    -5px -5px 10px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.3s ease;
}

.example-card:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),
    -5px -5px 10px rgba(255, 255, 255, 0.7);
}

.card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.card-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.mat-card-header {
  background-color: #f0f0f0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px;
  border-radius: 10px 10px 0 0;
}

.mat-card-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 6px;
}

.mat-card-actions {
  background-color: #f0f0f0;
  padding: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
}

.mat-card-actions button {
  margin-right: 6px;
  background-color: #f0f0f0;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mat-card-actions button:hover {
  background-color: #d6d6d6;
}

.example-icon {
  font-size: 18px;
  vertical-align: middle;
  margin-right: 4px;
}

@media (max-width: 480px) {
  .example-card {
    width: 100%;
  }
}

/* Fin Estilos para las cards */
