<section>
  <mat-toolbar color="primary">
    <span>Biblioteca Digital</span>
  </mat-toolbar>
</section>
<div class="contenedor">
  <mat-card>
    <mat-card-content>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <h2>Ingresa tus datos</h2>
        <mat-form-field appearance="outline">
          <mat-label>Matrícula</mat-label>
          <input
            matInput
            placeholder="12345678"
            minlength="8"
            maxlength="8"
            pattern="[0-9]*"
            ngModel
            name="matricula"
            matricula
            required
            #matriculaInput="ngModel"
          />
          <mat-error *ngIf="matriculaInput.hasError('required')"
            >Por favor ingresa tu matrícula</mat-error
          >
          <mat-error
            *ngIf="
              !matriculaInput.hasError('required') &&
              matriculaInput.invalid &&
              (matriculaInput.dirty || matriculaInput.touched)
            "
            >Por favor ingresa una matrícula válida</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            type="password"
            minlength="8"
            maxlength="60"
            required
            ngModel
            name="contrasena"
            #contrasenaInput="ngModel"
          />
          <mat-error *ngIf="contrasenaInput.hasError('required')"
            >Por favor ingresa tu contraseña</mat-error
          >
          <mat-error
            *ngIf="
              !contrasenaInput.hasError('required') &&
              contrasenaInput.invalid &&
              (contrasenaInput.dirty || contrasenaInput.touched)
            "
          >
            La contraseña debe tener al menos 8 caracteres
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="f.invalid">
          Iniciar sesión
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
