<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'push' : 'side'"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Mi Cuenta</a>
      <a mat-list-item href="#">Cerrar sesion</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>biblioteca-angular</span>
      <span class="example-spacer"></span>
      <input
        matInput
        type="search"
        placeholder="Buscar documento"
        class="search-document"
        fxHide.lt-md="true"
      />
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
        matTooltip="Mis favoritos"
        fxHide.lt-md="true"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
        matTooltip="Mi cuenta"
        [mat-menu-trigger-for]="menu"
        fxHide.lt-md="true"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item><mat-icon>settings</mat-icon> Ajustes</button>
        <button mat-menu-item (click)="makeLogout()">
          <mat-icon>logout</mat-icon> Cerrar sesión
        </button>
      </mat-menu>
    </mat-toolbar>
    <div style="text-align: center; min-height: 600px">
      <section class="bienvenida">
        <h1>Hola!👋 Usuario</h1>
      </section>

      <section class="cards">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button matTooltip="Descargar documento">
              <mat-icon>download</mat-icon>
            </button>
            <button mat-button matTooltip="Abrir documento">
              <mat-icon>open_in_new</mat-icon>
            </button>
            <button mat-button matTooltip="Añadir a favoritos">
              <mat-icon>favorite</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button matTooltip="Descargar documento">
              <mat-icon>download</mat-icon>
            </button>
            <button mat-button matTooltip="Abrir documento">
              <mat-icon>open_in_new</mat-icon>
            </button>
            <button mat-button matTooltip="Añadir a favoritos">
              <mat-icon>favorite</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button matTooltip="Descargar documento">
              <mat-icon>download</mat-icon>
            </button>
            <button mat-button matTooltip="Abrir documento">
              <mat-icon>open_in_new</mat-icon>
            </button>
            <button mat-button matTooltip="Añadir a favoritos">
              <mat-icon>favorite</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button matTooltip="Descargar documento">
              <mat-icon>download</mat-icon>
            </button>
            <button mat-button matTooltip="Abrir documento">
              <mat-icon>open_in_new</mat-icon>
            </button>
            <button mat-button matTooltip="Añadir a favoritos">
              <mat-icon>favorite</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button matTooltip="Descargar documento">
              <mat-icon>download</mat-icon>
            </button>
            <button mat-button matTooltip="Abrir documento">
              <mat-icon>open_in_new</mat-icon>
            </button>
            <button mat-button matTooltip="Añadir a favoritos">
              <mat-icon>favorite</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button matTooltip="Descargar documento">
              <mat-icon>download</mat-icon>
            </button>
            <button mat-button matTooltip="Abrir documento">
              <mat-icon>open_in_new</mat-icon>
            </button>
            <button mat-button matTooltip="Añadir a favoritos">
              <mat-icon>favorite</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </section>

      <mat-paginator
        [length]="100"
        [pageSize]="6"
        [pageSizeOptions]="[6, 12, 24, 100]"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
